{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {% block main %}
        <div id="main">
            <div class="inner">



                <!-- Banner -->
                <div class="content">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" id="nombre" type="text" style="margin-top: 1px">
                    <label for="Apellido">Apellido:</label>
                    <input class="form-control" id="apellido" type="text" style="margin-top: 1px">
                </div>



            </div>
        </div>
    {% endblock main %}

{% endblock %}