{% extends '/main/base.html.twig' %}
{% block body %}
    <!-- start banner Area -->
    <section class="home-banner-area">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center">
                <div class="banner-content col-lg-6 col-md-12 justify-content-center ">
                    <div class="me wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s">Soy</div>
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">Igmer Rodríguez</h1>
                    <div class="designation mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
                        Ingeniero en Sistemas
                        <span class="designer">Analista</span>
                        ,Desarrollador de Sistemas y
                        <span class="developer">Aplicaciones</span>
                    </div>
                    <a href="https://www.workana.com/freelancer/78d7a0b74d5ab71cbc68ccbf6c3dd04f" class="primary-btn"
                       data-text="Contratar">
                        <span>C</span>
                        <span>o</span>
                        <span>n</span>
                        <span>t</span>
                        <span>r</span>
                        <span>a</span>
                        <span>t</span>
                        <span>a</span>
                        <span>r</span>
                    </a>
                </div>
                <div class="banner-img col-lg-6 col-md-6 align-self-end">
                    <img class="img-fluid" src="images/banner-img.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->


    <!-- Start brands Area -->
    <section class="brands-area">
        <div class="container">
            <div class="brand-wrap">
                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="images/brand/b1.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="images/brand/b2.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="images/brand/b3.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="images/brand/b4.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="images/brand/b5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End brands Area -->


    <!-- Start About Area -->
    <section class="about-area section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 about-left">
                    <img class="img-fluid" src="images/about-img.png" alt="">
                </div>
                <div class="col-lg-5 col-md-12 about-right">
                    <div class="section-title">
                        <h2>Sobre mi</h2>
                    </div>
                    <div class="mb-50 wow fadeIn" data-wow-duration=".8s">
                        <p>
                            Soy ingeniero en sistemas dedicado a la programacion, Mi habilidad principal está en el
                            desarrollo de aplicaciones moviles nativas e hibridas,
                            ademas el desarrollo web utilizando PHP con Symfony, ASP.NET y JAVA
                        </p>
                        Me apasiona la programación y los retos nuevos que me llevan a aprender algo nuevo cada día.
                        <p>
                        </p>
                        <p><h3>Cursos y certificaciones:</h3></p>
                        <ul>
                           <li>Scrum Fundamental Certified.</li>
                           <li>Database Administration Fundamental</li>
                            <li>Diplomado en Big Data</li>
                            <li>CursoEthical Hacking - SQL Injection Attack</li>
                            <li>Curso de Kali Linux</li>
                        </ul>
                    </div>
{#                    <a href="#" class="primary-btn white" data-text="More Info">#}
{#                        <span>M</span>#}
{#                        <span>o</span>#}
{#                        <span>r</span>#}
{#                        <span>e</span>#}
{#                        <span> </span>#}
{#                        <span>I</span>#}
{#                        <span>n</span>#}
{#                        <span>f</span>#}
{#                        <span>o</span>#}
{#                    </a>#}
{#                    <a href="#" class="primary-btn" data-text="Resume">#}
{#                        <span>R</span>#}
{#                        <span>e</span>#}
{#                        <span>s</span>#}
{#                        <span>u</span>#}
{#                        <span>m</span>#}
{#                        <span>e</span>#}
{#                    </a>#}
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->


    <!-- Start Work Area Area -->
    <section class="work-area section-gap-top section-gap-bottom-90" id="work">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-end mb-100">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Mis Proyectos</h2>
                        <p>He creado aplicaciones principalmente del tipo empresarial, resolviendo necesidades
                            especificas de los clientes (Inventario, Pedidos, Seguimiento clinico).</p>
                        <p>27 proyectos completados como freelancer enm Workana ( Freelancer Platinun )</p>
                    </div>
                </div>

                <div class="col-lg-6">
{#                    <div class="filters">#}
{#                        <ul>#}
{#                            <li class="active" data-filter=".all">All Categories</li>#}
{#                            <li data-filter=".branding">Branding</li>#}
{#                            <li data-filter=".creative">Creative Work</li>#}
{#                            <li data-filter=".web-design">Web Design</li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
            </div>

            <div class="filters-content">
                <div class="row grid">
                    <div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp"
                         data-wow-duration="2s">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="images/work/w1.jpg" alt="">
                            </div>
                            <div class="middle">
                                <h4>Aplicacion de Seguimiento clinico</h4>
                                <div class="cat">Ministerio de Salud</div>
                            </div>
                            <a class="overlay" href=""></a>
                        </div>
                    </div>
                    <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design branding wow fadeInUp"
                         data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="images/work/w2.jpg" alt="">
                            </div>
                            <div class="middle">
                                <h4>Aplicacion de vectores</h4>
                                <div class="cat">Ministerio de Salud</div>
                            </div>
                            <a class="overlay" href="#"></a>
                        </div>
                    </div>
                    <div class="single-work col-lg-4 col-md-6 col-sm-12 all branding web-design wow fadeInUp"
                         data-wow-duration="2s" data-wow-delay="0.4s">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="images/work/w3.jpg" alt="">
                            </div>
                            <div class="middle">
                                <h4>Aplicacion de seguimiento clínico</h4>
                                <div class="cat">Clínica InVitro</div>
                            </div>
                            <a class="overlay" href=""></a>
                        </div>
                    </div>
                    <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp"
                         data-wow-duration="2s" data-wow-delay="0.6s">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="images/work/w6.jpg" alt="">
                            </div>
                            <div class="middle">
                                <h4>Control de inventario</h4>
                                <div class="cat">IT Outsourcing</div>
                            </div>
                            <a class="overlay" href="#"></a>
                        </div>
                    </div>
                    <div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp"
                         data-wow-duration="2s">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="images/work/w4.jpg" alt="">
                            </div>
                            <div class="middle">
                                <h4>Control de Pedidos</h4>
                                <div class="cat">IT Outsourcing</div>
                            </div>
                            <a class="overlay" href="#"></a>
                        </div>
                    </div>
                    <div class="single-work col-lg-4 col-md-6 col-sm-12 all branding wow fadeInUp"
                         data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="images/work/w5.jpg" alt="">
                            </div>
                            <div class="middle">
                                <h4>Aplicacion movil sobre naturaleza y animales</h4>
                                <div class="cat">Codigo Publico</div>
                            </div>
                            <a class="overlay" href="https://play.google.com/store/apps/details?id=com.paradais.paradaise"></a>
                        </div>
                    </div>
                    <div class="single-work col-lg-4 col-md-6 col-sm-12 all branding wow fadeInUp"
                         data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid" src="images/work/api.jpg" alt="">
                            </div>
                            <div class="middle">
                                <h4>API REST Spring boot con Oracle 12c</h4>
                                <div class="cat">Tu</div>
                            </div>
                            <a class="overlay" href="https://github.com/igmer/api-rest-spring"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Work Area Area -->


    <!-- Start Job History Area Area -->
    <section class="job-area section-gap-top section-gap-bottom-90">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Historia Laboral</h2>
                        <p>Inicie mi vida laboral a los 18 años, desde entonces gracias a Dios no ha faltado el trabajo
                            lo que me ha permitido adquirir experiencia en diferentes areas.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="single-job">
                        <div class="top-sec d-flex justify-content-between">
                            <div class="top-left">
                                <h4>Analista Programador</h4>
                                <p>Ministerio de Salud</p>
                            </div>
                            <div class="top-right">
                                <a href="#" class="primary-btn" data-text="Oct 2017 a Presente">
                                    <span>O</span><span>c</span><span>t</span>
                                    <span>2</span><span>0</span><span>1</span><span>7</span>
                                    <span>a</span><span></span>
                                    <span>P</span><span>r</span><span>e</span><span>s</span><span>e</span><span>n</span><span>t</span><span>e</span>
                                </a>
                            </div>
                        </div>
                        <div class="bottom-sec wow fadeIn" data-wow-duration="2s">
                            Analista Programador desarrollando sistemas de información para distintas áreas del
                            Ministerio de Salud, Trabajando con PHP Symfony,Java Android, Nodejs,
                            Spring MVC, Ademas administrando Base de Datos relacionales como PostgreSQL, SQLServer,
                            MySQL, Desarrollo de FrontEnd con Vue.js
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single-job">
                        <div class="top-sec d-flex justify-content-between">
                            <div class="top-left">
                                <h4>Supervisor de Personal</h4>
                                <p>Ministerio de Salud</p>
                            </div>
                            <div class="top-right">
                                <a href="#" class="primary-btn" data-text="Enero 2011">
                                    <span>E</span><span>n</span><span>e</span><span>r</span><span>o</span>
                                    <span>2</span><span>0</span><span>1</span><span>1</span>


                                </a>
                            </div>
                        </div>
                        <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                            Supervisor del personal que labora en Salud Comunitaria, encargado del tareas
                            administrativas y dirigir al personal en las actividades programadas.
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single-job">
                        <div class="top-sec d-flex justify-content-between">
                            <div class="top-left">
                                <h4>Freelancer</h4>
                                <p>Workana</p>
                            </div>
                            <div class="top-right">
                                <a href="#" class="primary-btn" data-text="Julio 2019">
                                    <span>J</span><span>u</span><span>l</span><span>i</span><span>o</span>
                                    <span>2</span><span>0</span><span>1</span><span>9</span>
                                </a>
                            </div>
                        </div>
                        <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                            <p> Freelancer especializado en desarrollo de aplicaciones Android, IONIC, y Reac Native,
                                Desarrollo de Servicios web con PHP, Spring boot - MVC y configuracion de servidores</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single-job">
                        <div class="top-sec d-flex justify-content-between">
                            <div class="top-left">
                                <h4>Auxiliar contable</h4>
                                <p>Cooperativa agricola</p>
                            </div>
                            <div class="top-right">
                                <a href="#" class="primary-btn" data-text="Enero 2007">
                                    <span>E</span><span>n</span><span>e</span><span>r</span><span>o</span>
                                    <span>2</span><span>0</span><span>0</span><span>7</span>
                                </a>
                            </div>
                        </div>
                        <div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                            Auxiliar contable en cooperativa agricola, encargado de libro diario y estados financieros
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Mis servicios</h2>
                        <p>Igmer Rodriguez puede ofrecerte sus servicios en las siguientes áreas.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-duration="1s">
                        <span class="lnr lnr-screen"></span>
                        <h4>
                            <span>Sistemas</span> web
                        </h4>
                        <p>Crear sistemas web en PHP con symfony o laravel, NodeJS, Java Spring y ASP.NET</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <span class="lnr lnr-laptop-phone"></span>
                        <h4><span>Desarrollo </span> de aplicaciones
                        </h4>
                        <p>Desarrollar aplicaciones moviles segun tu necesidad, nativas o hibridas multiplataforma.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <span class="lnr lnr-database"></span>
                        <h4><span>Bases de</span> Datos
                        </h4>
                        <p>Administracion y configuracion de bases de datos en PostgreSQl, MySQL, SQL Server y
                            Oracle.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <span class="lnr lnr-chart-bars"></span>
                        <h4><span>Administracion de Servidores</span>
                        </h4>
                        <p>Administracion y configuracion de servidores Linux, Windows , en la nube de Azure o AWS .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service Area -->


    <!-- Start Testimonials Area -->
    <section class="testimonials_area section-gap">
        <div class="container">
            <div class="testi_slider owl-carousel">
                <div class="item">
                    <div class="testi_item">
                        <img src="images/quote.png" alt="">
                        <h4>Calificación de clientes</h4>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <div class="wow fadeIn" data-wow-duration="1s">
                            <img src="images/clientes/c1.jpg">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <img src="images/quote.png" alt="">
                        <h4>Calificación de clientes</h4>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <div class="wow fadeIn" data-wow-duration="1s">
                            <img src="images/clientes/c2.jpg">

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <img src="images/quote.png" alt="">
                        <h4>Calificación de clientes</h4>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <div class="wow fadeIn" data-wow-duration="1s">
                            <img src="images/clientes/c3.jpg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials Area -->

{% endblock body %}




