{% extends '/main/base.html.twig' %}
{% block body %}
    <section class="banner-area relative">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                       Mi Historia
                    </h1>
{#                    <p class="link-nav">#}
{#						<span class="box">#}
{#							<a href="index.html">Home </a>#}
{#							<a href="portfolio.html">Portfolio</a>#}
{#							<a href="portfolio-details.html">Portfolio Details</a></p>#}
{#                    </span>#}
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Portfolio Details Area -->
    <section class="portfolio_details_area section-gap">
        <div class="container">
            <div class="portfolio_details_inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left_img">
                            <img class="img-fluid" src="images/blog/mihistoria.jpg" alt="">
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-5">
                        <div class="portfolio_right_text mt-30">
                            <h4>Ingeniero, Padre y Esposo</h4>
                            <p>Así es, soy ingeniero en sistemas y computacion, padre de un hermoso niño y esposo de una maravillosa mujer.</p>
{#                            <ul class="list">#}
{#                                <li><span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
{#                                            class="fa fa-star"></i></li>#}
{#                                <li><span>Client</span>: colorlib</li>#}
{#                                <li><span>Website</span>: colorlib.com</li>#}
{#                                <li><span>Completed</span>: 17 Aug 2018</li>#}
{#                            </ul>#}
{#                            <ul class="list social_details">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                        </div>
                    </div>
                </div>
                <p>02-Enero-2010 9:00 am</p>
                <p>Mi nombre es Igmer Rodriguez, originario de El Salvador, Nací y crecí en un pequeño cantón del Municipio de comasagua, me crie junto a mi abuelo Carlos Vasquez, El hombre que desde que tengo uso de razón me enseñó a trabajar,
                    Carlos un pequeño agricultor que trabajaba de sol a sol para que no nos faltara el pan, me enseñó el amor al trabajo, a hacer las cosas bien y a nunca darse por vencido. Pase mi niñez sin entender porque teníamos  que trabajar tanto
                    mis amigos del cantón jugaban y yo trabajaba con mi abuelo, talvez no tuve la mejor infancia pero tengo al mejor abuelo del mundo :)</p>
                <p>Como estudiante siempre he sido aplicado, tenía que viajar 7 km diarios para llegar a la escuela, pero era eso o ir a trabajar con mi abuelo, así que le tome amor al estudio, siempre tuve la ilusión de salir adelante y sabía que solo estudiando se podía lograr.

                    Con mucho esfuerzo Terminé el bachillerato en el 2006,  17 años y no sabía que hacer de mi vida, quería ir a la Universidad pero no tenía el recurso económico, así que trabaje en el campo un año y luego empecé como empleado del Ministerio de Salud,
                    Andaba sin rumbo por la vida, pasaron 6 años y decidí empezar la Universidad, Tuve que migrar a la ciudad para poder ir a clases, Por la mañana trabajaba y por la noche estudiaba, creo que fue una de los momentos más especiales de mi vida, ya que éramos un grupo de amigos del cantón que alquilábamos
                    para poder ir a la Universidad. Allí conocí a mi amigo y hermano Douglas Mancía, un ejemplo a seguir en superación, Mientras nosotros veíamos una serie de espartanos, él leía un libro, esa era su vida, Estudiar!,
                    Me fue bien como estudiante, tenía 23 y sabía lo que quería, no pude estudiar 3 ciclos porque el dinero no alcanzaba en junio para pagar la matricula (diciembre había aguinaldo)</p>

                <p>De pronto conocí a mi esposa, una bella enfermera que me cautivó, me apoyó en esos momentos difíciles, luego decidimos casarnos, una aventura que wow! yo aún seguía en la Universidad creo que llevaba 3er año, tuvimos un hijo
                    y de pronto todo cambió, sentí la necesidad de aprender algo que me sacara adelante, un hijo es la bendición más grande pero también la mayor responsabilidad, Cuando tienes un hijo te das cuenta el sacrificio que hacen tus padres, en mi caso mi madre
                    y mi abuelo. El dinero no alcanzaba, yo en la Universidad, gracias al apoyo de mi esposa nunca desistí, Empecé a ver programación,  quería una nuevo y mejor empleo, el pequeño alfa cada vez demandaba más cosas (pañales, cremas, ropita)</p>

                <p>En mi búsqueda de ese mejor empleo un día leí el anuncio donde pedían un Analista Programador con 4to año de ingeniería en sistemas, no sé como pero agarre el valor y mandé y mi curriculum
                    a los dos meses recibí una llamada, fue en junio y  me dijeron que fuera a la entrevista, me llene de esperanza y fui, tenía muchos nervios pero me fue bien , el siguiente día era la entrevista técnica, si a programar!
                    El ejercicio era sencillo (un CRUD) pero me costó tanto que dije: Al menos me dieron la oportunidad de intentarlo, me fui a casa con el corazón partido pensando que no había hecho nada bien, ah es que era en linux y yo solo había usado windows con xampp </p>

                <p>Pasaron los días y no me llamaron, la situación era crítica, por cómo iban las cosas no podría estudiar el próximo ciclo (las deudas iban creciendo), pero el 27 de septiembre cumplíamos 2 años de casados,
                    estaba desayunando con mi esposa y nuestro bebé, recibí una llamada y me dijeron que me presentara a la dirección de tecnología del MINSAL, estaba sin palabras , había sido contratado como analista programador en un proyecto temporal, tenía que renunciar a una plaza
                    de ley de salario como supervisor e irme a un contrato temporal, pero lo hice. Llegue a la DTIC sin saber nada de programación profesional, en la universidad solo enseñaron lo básico</p>
                <p>Aquí comenzó en verdadero reto, el contrato era hacer un sistema en PHP con Symfony y Sonata Project y desplegarlos en un Servidor apache, todo en un entorno Linux, estaba muy nervioso de todo lo que tenía que hacer
                    pero empecé a aprender de todo lo que veía, en foros, videos de YouTube, cursos de Udemy, StackOverflow y logre comprender PHP y Symfony ahora lo veo fácil, El contrato pedía una aplicación móvil así que aprendí java para android,
                    API REST y JWT todo se iba volviendo más fácil y divertido, Mi perfil en StackOverflow iba creciendo al compartir conocimiento</p>

                <p>Me enfoqué en las aplicaciones móviles y un día leí en #LinkedIn que existía un sitio para hacer ingresos extras el sitio es #Workana, hice mi perfil, me decepcioné, el tiempo pasaba y no me salía ningún proyecto pero un día alguien me contestó, necesitaba urgente solucionar un error en un login con la API de #Facebook,
                    Yo no tenía ni idea de cómo hacerlo pero me recordé del dicho "Si alguien te pregunta si sabes hacer algo, di que sí y luego averigua cómo hacerlo", le dije que si podía resolverlo y me puse a investigar y en 30 minutos ya lo tenía. fue mi primer proyecto de $25, así  he ido realizando pequeños proyectos que van sumando a
                    mi experiencia, trabajando siempre PHP, Andorid, IONIC, WordPress</p>

                <p>La programación me cambió la vida, no la tengo resuelta pero pude terminar la universidad, pagar la pre especialidad, cuando hablo con alguien siempre le digo aprende a programar, el trabajo no falta y pagan más o menos, aun veo como mis amigos salen a divertirse pero yo me quedo trabajando , la historia parece repetirse pero ahora me gusta.
                    Siempre aprendo algo nuevo y espero seguir estudiando, quiero una maestría en ciber seguridad (necesito alcanzar a mi amigo Douglas que tiene 3 maestrías y un doctorado :D )</p>

                <p>Para terminar solo puedo decir que  hagan las cosas con la fe puesta en Dios porque la biblia dice: Mira que te mando que te esfuerces y seas valiente; no temas ni desmayes, porque Jehová tu Dios estará contigo en dondequiera que vayas</p>


            </div>
        </div>
    </section>
    <!-- End Portfolio Details Area -->
{% endblock body %}